@import url('https://fonts.googleapis.com/css2?family=Karla:wght@300&family=Lobster&family=Noto+Sans+Display:wght@300&display=swap');

* {
  box-sizing: border-box;
}
body {
  background-color: rgb(255, 254, 214);
  color: #4a536e;
  max-width: 2000px;
  max-height: 1000px;
  margin: 0 auto;
}
.page-title {
  font-size: 3.5em;
  font-family: "Lobster", sans-serif;
  color:rgb(24, 114, 24);
}
.home-page-intro {
  font-size: 1.5em;
  font-family: 'Noto', sans-display;
}
.home-sub-title{
  color: rgb(224, 99, 79);
  font-family: "Lobster", sans-serif;
  font-size: 2em;
}
.form-group, .form-heading {
  font-family: "Lobster", sans-serif;
  font-size: 1.5em;
  color:rgb(24, 114, 24);
}
.button-color, .login {
  background-color:rgb(24, 114, 24);
}
.btn-cancel {
  background-color: rgb(233, 15, 15);
 }
.home-title-text-shadow {
  text-shadow: 2px 2px 2px rgb(212, 206, 206);
}
.text-shadow {
  text-shadow: 2px 2px 2px rgb(15, 15, 15);
}
.flashes h4 {
    line-height: 1;
}
nav, li {
  font-size: 1em;
} 
.card {
    border-radius: 15px;
}
.card-footer {
    height: 44px;
}

.card-image {
  width: 250px;
  height: 300px;
  color: #fff;
}
.card-image-view-page{
  width: 450px;
  height: 400px;
}
.page-name {
  font-family: "Lobster", sans-serif;
}
.logo {
  height: 65px;
  width: 120px;
}
.logo-home-page {
  height: 660px;
  width: 400px;
}
/*-------------------------------Slideshow Styling-----------------------*/
/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
  border-radius: 15px;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

.logo-home-page {
  height: 650px;
}
@media only screen and (max-width: 600px) {
  .logo-home-page{
    height: 300px;
  }
}

/* ---------------Footer-------------------------- */
footer {
  background-color: orange;
  width: 100%;
}
.footer-text-shadow {
  text-shadow: 2px 2px 2px rgb(253, 242, 242);
}
.footer-copyright{
  padding-bottom: 5px;
}
footer h5{
  padding-top: 14px;
}
.footer-heading {
  font-size: 1.5em;
  font-family: "Lobster", sans-serif;
  color:rgb(24, 114, 24);
}


