body {
    background-color: rgb(243, 247, 247);
}
.text-shadow {
    text-shadow: 2px 2px 2px rgba(0, 0 ,0 , 0.5);
}
.flashes h4 {
    line-height: 2
}
.card {
    border-radius: 15px;
}
.card-footer {
    height: 44px;
}