{% extends "base.html" %}
{% block content %}

    <h3 class="center-align">Add Category</h3>    
    <h5 class="center-align">Add your favourite recipes here.</h5>


<div class="row">
    <div class="input-field col m8 offset-m2">
        <form action="{{ url_for('add_category') }}" method="POST" name="addRecipe" id="addRecipe">
            <!--Recipe Name-->
            <div class="form-group">
                <div class="controls">
                <i class="fas fa-pencil-alt"></i> <label class="form-field-description form-title" for="category_name">Category Name</label>
                <input class="form-control" id="category_name" name="category_name" type="text" class="validate" required placeholder="Add a new category here" minlength="0" maxlength="100">
                </div>
            </div> 
            <!--Submit Button-->
            <button type="submit" class="btn btn-success" id="sendMessageButton">Add Category</button>
            <!--Cancel Button-->
            <a class="btn btn-success" href="">Cancel</a>
        </form>
    </div>
</div>
</div>

{% endblock %}