{% extends "base.html" %}
{% block content %}

    <h3 class="center-align">Add Recipe</h3>    
    <h5 class="center-align">Add your favourite recipes here.</h5>


<div class="row">
    <div class="input-field col m8 offset-m2">
        <form action="{{ url_for('add_recipes') }}" method="POST" name="addRecipe" id="addRecipe">
            <!--Select Category-->
            <div class="form-group">
                <i class="fas fa-align-center"></i> <label class="form-field-description">Select Category</label>
                    <select class="form-control category-formfield" id="category_name" name="category_name">
                        <!-- Populates categories from database categories -->
                        {% for category in categories %}
                        <option>{{category.category_name}}</option>
                        {% endfor %}
                    </select>
                </div>
                <br>
                <br>
            <!--Recipe Name-->
            <div class="form-group">
                <div class="controls">
                <i class="fas fa-pencil-alt"></i> <label class="form-field-description" for="recipe_name">Recipe Name</label>
                <input class="form-control" id="recipe_name" name="recipe_name" type="text" required placeholder="Add a name for your recipe" minlength="0" maxlength="100">
                </div>
            </div> 
            <!--Recipe Description-->
            <div class="form-group">
                <div class="controls">
                    <i class="far fa-edit"></i> <label class="form-field-description" for="recipe_description">Recipe Description</label>
                <input type="text" class="form-control" id="recipe_description" name="recipe_description" maxlength="1000" placeholder="Please add a brief description of your dish">
                </div>
            </div>          
            <!--Recipe Image--> 
            <div class="form-group">
                <div class="controls">
                <i class="far fa-images"></i> <label class="form-field-description" for="image_link">Recipe Image</label>
                <input class="form-control" id="image_link" name="image_link" type="url" pattern="https://.*" placeholder="Paste link to recipe image here">
                </div>
            </div>
            <!--Ingredients-->
            <div class="form-group">
                <div class="controls">
                    <i class="fas fa-carrot"></i>
                  <label for="recipe_ingredients">Ingredients</label>
                  <textarea id="recipe_ingredients" name="recipe_ingredients" class="materialize-textarea" data-length="1000" rows="10" placeholder="Add ingredients here"></textarea>
                </div>
            </div>
            <!--Cooking Method-->
              <div class="form-group">
                    <div class="controls">
                        <i class="fas fa-utensils"></i> <label for="recipe_method">Cooking Method</label>
                        <textarea id="recipe_method" name="recipe_method" class="materialize-textarea" data-length="1000" rows="10" placeholder="Add cooking method here"></textarea>
                    </div>
                  </div>
            <!--Submit Button-->
            <button type="submit" class="btn btn-success" id="sendMessageButton">Submit Recipe</button>
            <!--Cancel Button-->
            <a class="btn btn-success" href="{{ url_for('get_recipes') }}">Cancel</a>
        </form>
    </div>
</div>
</div>

{% endblock %}