{% extends "base.html" %}
{% block content %}

    <h3 class="center-align home-title page-title">Add Recipe</h3>    
    <h5 class="center-align home-title">Add your favourite recipes here.</h5>


<div class="row">
    <div class="input-field col s12 m8 offset-m2 amber darken-3">
        <form action="{{ url_for('add_recipe') }}" method="POST" name="addRecipe" id="addRecipe">
            <!--Select Category-->
            <div class="form-group">
                <i class="fas fa-align-center"></i> <label class="form-field-description form-title form-heading">Select Category</label>
                    <select class="form-control category-formfield" id="category_name" name="category_name">
                        <!-- Populates categories from database categories -->
                        {% for category in categories %}
                        <option value="{{ category.catregory_name }}">{{category.category_name}}</option>
                        {% endfor %}
                    </select>
                </div>
            <!--Recipe Name-->
            <div class="form">
                <h3 for="recipe_name" class="form-heading"><i class="fas fa-pencil-alt"></i>  Recipe Name</h3>
                <input type="text" id="recipe_name" name="recipe_name"
                maxlength="100" placeholder="Please add a name for your dish" required>
            </div>
            <!--Recipe Description-->
            <div class="form">
                <h3 for="recipe_description" class="form-heading"><i class="far fa-edit"></i>  Recipe Description</h3>
                <input type="text" id="recipe_description" name="recipe_description"
                maxlength="1000" placeholder="Please add a brief description of your dish" required>
            </div>
            <!--Recipe Image-->
            <div class="form">
                <h3 for="image_link" class="form-heading"><i class="far fa-images"></i>  Recipe Image</h3>
                <input type="text" id="image_link" name="image_link"
                maxlength="1000" pattern="https://.*" placeholder="Please add a URL image of your dish" required>
            </div>
            <!--Recipe Ingredients--> 
            <div class="form">
                <h3 for="recipe_ingredients" class="form-heading"><i class="fas fa-carrot"></i>  Recipe Ingredients</h3>
                <input type="text" id="recipe_ingredients" name="recipe_ingredients"
                maxlength="1000"  placeholder="Please add ingredients here" required>
            </div>
            <!--Cooking Method--> 
            <div class="form">
                <h3 for="recipe_method" class="form-heading"><i class="fas fa-utensils"></i>  Cooking Method</h3>
                <input type="text" id="recipe_method" name="recipe_method"
                maxlength="1000"  placeholder="Please add cooking method here" required>
            </div>
            <!--Submit Button-->
            <button type="submit" class="btn login" id="sendMessageButton">Submit Recipe</button>
            <!--Cancel Button-->
            <a class="btn btn-cancel right" href="{{ url_for('recipes') }}">Cancel</a>
        </form>
    </div>
</div>
</div>

{% endblock %}