{% extends "base.html" %}
{% block content %}
<h3 class="center-align">Edit Recipe</h3>    
<h5 class="center-align">Edit recipes here</h5>


<div class="row">
<div class="input-field col m8 offset-m2">
    <form method="POST" action="{{ url_for('edit_recipe', recipe_id=recipe._id) }}"  name="editRecipe" id="editRecipe">
        <!--Select Category-->
        <div class="form-group">
            <i class="fas fa-align-center"></i> <label class="form-field-description form-title">Select Category</label>
                <select class="form-control category-formfield" id="category_name" name="category_name">
                    <!-- Populates categories from database categories -->
                    {% for category in categories %}
                        {% if category.category_name == recipe.category_name %}
                        <option value="{{ category.category_name }}"selected>{{ category.category_name }}</option>
                        {% else %}
                    <option value="{{ category.category_name }}">{{ category.category_name }}</option>
                        {% endif %}
                    {% endfor %}
                </select>
                <label for="category_name">Recipe Category</label>

            </div>
            <br>
            <br>
        <!--Recipe Name-->
        <div class="form-group">
            <div class="controls">
            <i class="fas fa-pencil-alt"></i> <label class="form-field-description form-title" for="recipe_name">Recipe Name</label>
            <input class="form-control" id="recipe_name" name="recipe_name" type="text" required placeholder="Add a name for your recipe" minlength="0" maxlength="100" value="{{ recipe.recipe_name }}">
            </div>
        </div> 
         <!--Recipe Image--> 
         <div class="form-group">
            <div class="controls">
            <i class="far fa-images"></i> <label class="form-field-description" for="image_link">Recipe Image</label>
            <input class="form-control"  id="image_link" name="image_link" type="url" pattern="https://.*" placeholder="Paste link to recipe image here" value="{{ recipe.image_link }}">
            </div>
        </div>
        <!--Recipe Description-->
        <div class="form-group">
            <div class="controls">
                <i class="far fa-edit"></i> <label class="form-field-description" for="recipe_description">Recipe Description</label>
            <input type="text" class="form-control" value="google.com" id="recipe_description" name="recipe_description" maxlength="1000" placeholder="Please add a brief description of your dish" value="{{ recipe.recipe_description }}">
            </div>
        </div>          
        <!--Ingredients-->
        <div class="form-group">
            <div class="controls">
                <i class="fas fa-carrot"></i>
              <label for="recipe_ingredients">Ingredients</label>
              <textarea id="recipe_ingredients" name="recipe_ingredients" class="materialize-textarea" data-length="1000" rows="10" placeholder="Add ingredients here">{{ recipe.recipe_ingredients }}</textarea>
            </div>
        </div>
        <!--Cooking Method-->
          <div class="form-group">
                <div class="controls">
                    <i class="fas fa-utensils"></i> <label for="recipe_method">Cooking Method</label>
                    <textarea id="recipe_method" name="recipe_method" class="materialize-textarea" data-length="1000" rows="10" placeholder="Add cooking method here">{{ recipe.recipe_method }}</textarea>
                </div>
              </div>
        <!--Submit Button-->
        <a class="btn btn-large blue text-shadow" href="">Edit Recipe<i class="fas fa-times-edit right"></i></a>
        <!--Cancel Button-->
        <a class="btn btn-large red text-shadow right" href="{{ url_for('recipes') }}">Cancel<i class="fas fa-times-circle right"></i></a>
    </form>
</div>
</div>
</div>


{% endblock %}