{% extends "base.html" %}
{% block content %}

    <h2 class="center-align page-title">Edit Recipe</h2>    
    <h3 class="center-align home-sub-title">Edit recipes here</h3>

    <div class="row">
        <div class="input-field col s12 m8 offset-m2">
            <form action="{{url_for('edit_recipe', recipe_id=recipe._id)}}" method="POST" name="editRecipe" id="editRecipe">
                <!--Select Category-->
                <div class="row">
                    <div class="input-field col s12 form-title">
                            <form action="{{ url_for('add_recipe') }}" method="POST" name="addRecipe" id="addRecipe">
                            <div class="row">
                            <div class="input-field form-title form-heading col s12">
                <!--------Recipe Category---------->
                <i class="fas fa-align-center"></i> Select Category
                    <select id="category_name" name="category_name" class="validate" required>
                    <option value="" disabled selected>Choose Category</option>
                <!-- Populates categories from database categories -->
                {% for category in categories %}
                    {% if category.category_name == recipe.category_name %}
                        <option value="{{ category.category_name }}" selected>{{ category.category_name}}</option>
                        {% else %}
                        <option value="{{ category.category_name }}">{{ category.category_name}}</option>
                    {% endif %}
                {% endfor %}
                    </select>
                </div>
            </div>
        <!--Recipe Name-->
       <div class="form">
        <h3 for="recipe_name" class="form-heading"><i class="fas fa-pencil-alt"></i>  Recipe Name</h3>
        <input type="text" value="{{ recipe.recipe_name }}" id="recipe_name" name="recipe_name"
        maxlength="100" required>
    </div>
    <!--Recipe Description-->
    <div class="form">
        <h3 for="recipe_description" class="form-heading"><i class="far fa-edit"></i>  Recipe Description</h3>
        <input type="text" value="{{ recipe.recipe_description }}" id="recipe_description" name="recipe_description"
        maxlength="1000" required>
    </div>
    <!--Recipe Image-->
    <div class="form">
        <h3 for="image_link" class="form-heading"><i class="far fa-images"></i>  Recipe Image</h3>
        <input type="text" id="image_link" name="image_link"
        maxlength="1000" value="{{ recipe.image_link }}"pattern="https://.*" required>
    </div>
    <!--Recipe Ingredients--> 
    <div class="form">
        <h3 for="recipe_ingredients" class="form-heading"><i class="fas fa-carrot"></i>  Recipe Ingredients</h3>
        <textarea type="text" id="recipe_ingredients" name="recipe_ingredients"
        maxlength="1000" value="{{ recipe.recipe_ingredients }}" required>{{ recipe.recipe_ingredients }}</textarea>
    </div>
    <!--Cooking Method--> 
    <div class="form">
        <h3 for="recipe_method" class="form-heading"><i class="fas fa-utensils"></i>  Cooking Method</h3>
        <textarea type="text" id="recipe_method" name="recipe_method"
        maxlength="1000" value="{{ recipe.recipe_method }}" required>{{ recipe.recipe_method }}</textarea>
    </div>
    <!--Submit Button-->
    <button type="submit" class="btn login" id="sendMessageButton">Submit Recipe</button>
    <!--Cancel Button-->
    <a class="btn btn-cancel right" href="{{ url_for('recipes') }}">Cancel</a>
</form>
</div>
</div>
</div>

{% endblock %}


                
                
                
                
                
                
<div class="form-group">
    <i class="fas fa-align-center"></i> <label class="form-field-description form-title form-heading">Select Category</label>
        <select class="form-control category-formfield" id="category_name" name="category_name" class="validate" required>
            <!-- Populates categories from database categories -->
            {% for category in categories %}
            <option value="{{ category.catregory_name }}">{{category.category_name}}</option>
            {% endfor %}
        </select>
    </div>