{% extends "base.html" %}
{% block content %}
<!--Page Label-->
<div class="row">
    <div class="row col s12 m8 offset-m2">
        <div class="card-panel">
            <h2 class="center-align page-title">
                Hi {{ username }}!
            </h2>
        </div>
        <div class="home-page-intro">
            <p><em>{{ username }}</em>, welcome to your profile page for Winter Warmer Recipes.</p>
            <p>We hope to provide a mix of recipes that are aimed to give you more choice. From breakfast to dinner, to drinks, we hope to provide you with everything you need to get you through the cold winter nights.</p>
        </div>
        <div>
            <p>You can also use this quick link to add recipes:</p>
            <a class="btn login left" href="{{ url_for('add_recipe') }}">Add Recipe</a>
        </div>
    </div>
</div>
{% endblock %}