{% extends "base.html" %}
{% block content %}

<div class="row">
  <div class="row col s12 m8 offset-m2">
      <div class="card-panel">
        <h2 class="center-align page-title">
          Welcome {{ username }}!
        </h2>
      </div>
      <div class="home-page-intro">
        <p>Welcome to your profile page for Winter Warmer Recipes.</p>
        <p>Here you can view the recipes you have created on this site.</p>
        <div class="">
          <i class="fas fa-utensils"></i> 
          <label class="form-heading" for="recipe_method">Your Recipes</label>
          <textarea id="recipe_method" name="recipe_method" class="materialize-textarea flow-text"></textarea>
        </div>
        <div>
        <p>You can also use this quick link to add recipes:</p>
        <a class="btn login left" href="{{ url_for('add_recipe') }}">Add Recipe</a>
      </div>
    </div>
  </div>

{% endblock %}