{% extends "base.html" %}
{% block content %}


<!--View of recipe-->
<img src="{{ recipe.image_link }}" alt="">

<h2>{{ recipe.recipe_name}}</h2> 

<h3>Description</h3>
<p>{{ recipe.recipe_description }}</p>

<h4>Ingredients</h4>
<p>{{ recipe.recipe_ingredients }}</p>

<h4>Method</h4>
<p>{{ recipe.recipe_method }}</p>

<h5>Created by: {{ user }}</h5>

<!--Buttons taken from Materialize-->
<a class="waves-effect waves-light btn">Edit Recipe</a>
<a class="waves-effect waves-light btn">Save Recipe</a>


<a class="waves-effect waves-light btn">Delete Recipe</a>


{% endblock %}