{% extends "base.html" %}
{% block content %}
<div class="container recipe-container">
    <div class="card mb-4">
        <div class="card-body">
            <div class="row">
                <div class="col-md-12">
                    <h2 class="card-title recipe-title">{{recipe.recipe_name}}</h2>
                    <h5 class="card-title ingredients-heading"><i class="fas fa-info"></i>Description</h5>
                    <p>{{recipe.description}}</p>
                    <br>
                    <h5 class="card-title ingredients-heading"><i class="fas fa-list-ul"></i>Ingredients</h5>
                    {% for ingredient in recipe.ingredients %}
                    <p>{{ingredient}}</p>
                    {% endfor %}
                    <br>
                    <h5 class="card-title ingredients-heading"><i class="fas fa-clipboard-list"></i>Instructions</h5>
                    {% for instruction in recipe.instructions %}
                    <p>{{instruction}}</p>
                    {% endfor %}
                    <br>
                    <div class="recipe-buttons">
                        <a href="{{url_for('edit_recipe', recipe_id=recipe._id)}}" class="btn btn-success">Edit Recipe</a>
                        <a href="{{url_for('home')}}" class="btn btn-success">Home</a>
                        <button type="button" class="right btn btn-danger" onclick="confirm_del()">Delete Recipe</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}    
